.fws2{position:relative;display:inline-block;overflow:hidden;width:100%;max-width:1140px;margin:0px
0px 10px 0px;height:500px;}.fws2.fwslider_standard{margin:0px
0px 30px 0px}.fws2
.slide{display:none;position:absolute;top:0;left:0;z-index:0;width:100%}
.fws2 .slide
img{display:block;width:100%;height:280px}.fws2
.slidePrev{background:#000;width:40px;height:40px;position:absolute;top:40%!important;left:20px!important;opacity:0.5;z-index:10;border-radius:100px}.fws2 .slidePrev
span{background-image:url("images/left_arrow.png");width:40px;height:40px;float:left;background-position:50% 45%;background-repeat:no-repeat;cursor:pointer}.fws2
.slideNext{background:#000;width:40px;height:40px;position:absolute;top:40%!important;right:20px!important;opacity:0.5;z-index:10;border-radius:100px}.fws2 .slideNext
span{background-image:url("images/right_arrow.png");width:40px;height:40px;float:left;background-position:50% 50%;background-repeat:no-repeat;cursor:pointer}.fws2
.timers{width:100%!important;height:5px;position:absolute;bottom:20px;left:40px;z-index:3}.fws2
.timer{display:none;height:5px;width:56px;background-color:#000;float:left;margin-right:5px}.fws2
.progress{height:5px;width:0%;background-color:#f00;float:left}.slide_content_box{background:url("images/big_shadow.png") repeat-x bottom;width:100%;height:200px;position:absolute;left:0;bottom:0}.fws2
.slide_content{display:inline-block;position:absolute;bottom:20px;left:0px;width:100%;height:100%}
.fws2
.slide_content_wrap{display:inline-block;width:100%;height:200px;margin:150px
0px 0px 0px!important;padding:0px
35px}.fws2 .slide_content_wrap
p{text-indent:0px}
.fws2
.title{padding:20px;bottom:-10px;left:10px;right:10px;z-index:1000;position:absolute;background:rgba(0,0,0, 0.4);border-left:4px solid red;opacity:0;color:#fff;-webkit-transition:all 200ms;-moz-transition:all 200ms;-o-transition:all 200ms;-ms-transition:all 200ms;transition:all 200ms}
.fws2 .title
a{color:#fff;font-size:22px;}.fws2
.slide_time{background:#f14d4d;display:inline-block;text-transform:uppercase;font-size:11px;color:#fff;text-decoration:none;margin:10px
0px 10px 3px;padding:2px
5px;font-weight:400}.fws2
.slide_cats{display:inline-block;margin:10px
0px 15px 0px}.fws2
.custom_cat_class{padding:2px
5px}

#sb_slider_box{position:relative;width:100%;padding:0px;margin:0px
auto}




#sidebar_slicebox{margin-top:-10px}.sb-slider{margin:0px
auto;display:inline-block;position:relative;overflow:hidden;width:100%;list-style-type:none;padding:0}


.sb-slider li{margin:0;padding:0;display:none}

.sb-slider li>a{outline:none}
.sb-slider li > a img{border:none}
.sb-slider img{max-width:100%;display:block;height:280px}



.sb-description{padding:20px;bottom:60px;left:10px;right:10px;z-index:1000;position:absolute;background:rgba(0,0,0, 0.4);border-left:4px solid red;opacity:0;color:#fff;-webkit-transition:all 200ms;-moz-transition:all 200ms;-o-transition:all 200ms;-ms-transition:all 200ms;transition:all 200ms}.sb-slider li.sb-current .sb-description{opacity:1}.sb-slider li.sb-current .sb-description:hover{background:rgba(0,0,0,0.7)}.sb-perspective{position:relative}.sb-perspective>div{position:absolute;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.sb-side{margin:0;display:block;position:absolute;-moz-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.shadow{width:100%;height:168px;margin-top:-120px;background:url(images/shadow.png) no-repeat bottom center;background-size:100% 100%;display:none}.sb-description
h3{line-height:25px}.sb-description h3
a{font-size:20px;color:#fff;text-transform:uppercase}.nav-arrows{display:none}.nav-arrows
a{display:inline-block;width:42px;height:42px;background:#222 url(images/nav.png) no-repeat top left;position:absolute;top:40%;left:0px;text-indent:-9000px;cursor:pointer;margin-top:-21px;opacity:0.7;border-radius:0px 3px 3px 0px}.nav-arrows a:first-child{left:auto;right:2px;background-position:top right;border-radius:3px 0px 0px 3px}.nav-arrows a:hover{opacity:1}#main_content{display:inline-block;padding:20px
0px;width:100%}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.padding-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}