@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .others-option {
    display: none;
  }
  .section-title {
    margin: -6px auto 30px;
  }
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .default-btn {
    font-size: 15px;
    padding: 12px 25px;
  }
  .main-banner-area {
    height: 100%;
    padding-top: 115px;
    padding-bottom: 70px;
  }
  .main-banner-area .container-fluid {
    max-width: 540px;
  }
  .main-banner-area .banner-text {
    margin: auto;
    max-width: unset;
    text-align: center;
  }
  .main-banner-area .banner-text h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .main-banner-area .banner-text p {
    margin-bottom: 30px;
  }
  .main-banner-area .banner-img {
    display: none;
  }
  .main-banner-area .banner-main-img {
    display: block;
    margin-top: 30px;
  }
  .main-banner-area .white-shape {
    display: none;
  }
  .main-banner-area.main-banner-area-one .banner-text {
    margin-top: 0;
  }
  .search-domain .domain-wrap .input-domain {
    height: 50px;
  }
  .search-domain .domain-wrap .default-btn {
    position: relative;
    top: 0;
    right: 0;
    display: table;
    margin: 30px auto 0;
  }
  .search-domain .domain-wrap .select-domain-name {
    top: 5px;
    right: 11px;
    border-radius: 50%;
  }
  .location-area {
    overflow: hidden;
  }
  .technology-area.mt {
    padding-top: 50px;
  }
  .single-technology {
    padding: 20px;
  }
  .customer-title h2 {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 20px;
  }
  .support-list {
    margin-bottom: 30px;
  }
  .solutions-wrap .solutions-title h2 {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 30px;
  }
  .solutions-img {
    margin-bottom: 30px;
  }
  .hosting-solution-area .shape-one {
    display: none;
  }
  .hosting-solution-area .shape-two {
    display: none;
  }
  .hosting-solution-wrap {
    margin: 0 auto -6px;
  }
  .hosting-solution-wrap h2 {
    font-size: 28px;
    margin-top: -6px;
  }
  .hosting-solution-wrap .default-btn {
    margin: 0 5px;
  }
  .single-pricing {
    padding: 20px;
  }
  .single-pricing::before {
    top: 0;
  }
  .single-pricing::before {
    width: 280px;
    height: 100%;
  }
  .server-img {
    margin-bottom: 30px;
    -webkit-animation: none;
            animation: none;
  }
  .server-content-wrap h2 {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 20px;
  }
  .server-content-wrap ul li span {
    font-size: 20px;
  }
  .map-img {
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .map-img .single-location {
    top: 25px;
    left: 25px;
  }
  .map-img .single-location.location-two {
    left: 90px;
    top: 0;
  }
  .map-img .single-location.location-three {
    left: 53px;
    top: 120px;
  }
  .map-img .single-location.location-four {
    left: 140px;
    top: 100px;
  }
  .map-img .single-location.location-five {
    left: 200px;
    top: 30px;
  }
  .map-img .single-location.location-six {
    left: 250px;
    top: 130px;
  }
  .frequently-content-wrap ul li {
    padding-left: 20px;
  }
  .frequently-img {
    margin-bottom: 30px;
    -webkit-animation: none;
            animation: none;
  }
  .frequently-content-wrap ul li h3 {
    margin-bottom: 12px;
  }
  .frequently-content-wrap ul li i {
    font-size: 30px;
    position: unset;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-bottom: 15px;
  }
  .single-client {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 15px 15px 15px;
    margin-bottom: 10px;
  }
  .single-blog .blog-content-wrap {
    padding: 20px;
  }
  .single-blog .blog-content-wrap ul li {
    padding-right: 8px;
  }
  .single-blog .blog-content-wrap ul li i {
    margin-right: 2px;
  }
  .single-widget h3 {
    margin-bottom: 15px;
    font-size: 22px;
    position: relative;
    border-bottom: 1px solid #0d1d46;
    padding-bottom: 8px;
  }
  .single-widget h3::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #ffffff;
  }
  .footer-bottom-area .copy-right {
    text-align: center;
    margin-bottom: 5px;
  }
  .footer-bottom-area .designed {
    margin-bottom: 5px;
    text-align: center;
  }
  .footer-bottom-area .privacy {
    float: unset;
    text-align: center;
  }
  .search-domain-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .search-domain-area .search-text {
    margin-bottom: 30px;
    text-align: center;
  }
  .search-domain-area .search-text h2 {
    font-size: 28px;
  }
  .support-img-two {
    text-align: center;
    margin-bottom: 30px;
  }
  .choose-area .choose-content-wrap h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #ffffff;
  }
  .choose-img {
    margin-top: 30px;
    text-align: center;
  }
  .protected-img {
    margin-top: 30px;
    text-align: center;
  }
  .services-area .single-technology {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  }
  .try-now-free {
    text-align: center;
  }
  .try-now-free h3 {
    margin-bottom: 30px;
  }
  .try-now-free .default-btn {
    float: unset;
  }
  .contact-img {
    margin-top: 30px;
    text-align: center;
  }
  .mtb-100 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .technology-wrap .single-technology {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-banner-area-four .banner-img {
    display: block;
    top: 0;
    margin-top: 20px;
  }
  .search-domain-area-four {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .search-domain-area-four ul li {
    padding: 0 3px;
  }
  .single-hosting-service {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }
  .single-hosting-service i {
    position: unset;
    display: inline-block;
    margin-bottom: 12px;
  }
  .hosting-list {
    margin-bottom: 20px;
  }
  .shared-hosting-content h2 {
    font-size: 28px;
  }
  .shared-hosting-img {
    margin-top: 30px;
  }
  .main-slider-area .main-slider-item {
    height: 100%;
  }
  .main-slider-area .banner-text {
    margin-top: 0 !important;
  }
  .page-title-content {
    text-align: center;
  }
  .page-title-content ul {
    float: unset;
  }
  .page-title-area {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .page-title-area .page-title-content {
    text-align: center;
  }
  .page-title-area .page-title-content ul {
    float: unset;
  }
  .server-img.about-server-img {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .single-affiliate-info {
    padding: 20px;
  }
  .single-work {
    padding-left: 75px;
  }
  .single-work span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
  }
  .affiliate-img {
    margin-top: 30px;
  }
  .faq-accordion {
    margin-bottom: 30px;
  }
  .ask-question {
    padding: 20px;
  }
  .user-area-all-style .contact-form-action {
    padding: 20px;
  }
  .user-area-all-style .contact-form-action form .default-btn {
    display: block;
    width: 100%;
  }
  .user-area-all-style .contact-form-action form .default-btn.btn-two {
    padding: 12px 35px;
  }
  .user-area-all-style .contact-form-action .forget {
    float: unset;
  }
  .user-area-all-style .contact-form-action .form-heading .form-title {
    font-size: 25px;
  }
  .user-area-all-style .contact-form-action .form-heading .form-desc {
    font-size: 15px;
  }
  .user-area-all-style .contact-form-action .now-register {
    margin-top: 10px;
    float: unset;
  }
  .user-area-all-style .contact-form-action .form-heading .reset-desc {
    font-size: 15px;
  }
  .error-area .error-contact-wrap h1 {
    font-size: 150px;
  }
  .domain-banner-area {
    height: 100%;
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .domain-banner-area .banner-text h1 {
    font-size: 40px;
    margin-bottom: 32px;
  }
  .domain-pricing-list-area {
    overflow: scroll;
  }
  .domain-pricing-list h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .domain-pricing-list .domain-price th {
    font-size: 16px;
  }
  .domain-pricing-list .domain-price td {
    font-size: 16px;
  }
  .domain-pricing-list .domain-price .default-btn {
    font-size: 14px;
  }
  .search-domain .domain-wrap.only-domain {
    margin: 0 15px;
  }
  .special-intro-offer-wrap .special-intro-offer-list {
    margin: auto;
    display: inline-table;
  }
  .special-intro-offer-wrap .special-intro-offer-list ul {
    margin-bottom: 30px;
  }
  .special-intro-offer-wrap .special-intro-offer-list ul li {
    text-align: left !important;
  }
  .special-intro-offer-wrap {
    margin-top: 50px;
  }
  .single-shared-hosting {
    margin-left: 15px;
    margin-right: 15px;
  }
  .reseller-item {
    padding: 20px;
  }
  .tab.quote-list-tab .tabs li {
    font-size: 18px;
  }
  .reseller-hosting-title {
    padding-bottom: 30px !important;
  }
  .page-navigation-area {
    margin: 0 auto 0;
  }
  .blog-details-desc.blog-left-grid {
    margin-top: 35px;
  }
  #map {
    height: 300px;
  }
  .main-contact-area .contact-wrap .contact-form {
    padding: 20px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    display: block;
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li::before {
    display: none;
  }
  .blog-details-area .blog-details-desc .article-content h3 {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .blog-details-area .blog-details-desc .article-content p {
    font-size: 15px;
  }
  .blog-details-area .blog-details-desc .article-content .features-list li {
    font-size: 15px;
  }
  .blog-details-area .widget-area .widget {
    padding: 0;
  }
  .blog-details-area blockquote {
    padding: 30px !important;
  }
  .blog-details-area blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .blockquote {
    padding: 30px !important;
  }
  .blog-details-area .blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .comments-area {
    padding: 20px;
  }
  .blog-details-area .comments-area .comment-author {
    font-size: 15px;
    margin-bottom: 0.3em;
  }
  .blog-details-area .comments-area .comment-author .avatar {
    left: 0;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .blog-details-area .comments-area .comment-body {
    padding-left: 0;
  }
  .blog-details-area .comments-area .comments-title {
    font-size: 19px;
  }
  .blog-details-area .comments-area .comments-title::before {
    left: -20px;
  }
  .blog-details-area .comments-area .comment-metadata {
    font-size: 12px;
  }
  .blog-details-area .comments-area .comment-respond .comment-reply-title {
    font-size: 19px;
  }
  .blog-details-area .comments-area .comment-respond .comment-reply-title::before {
    left: -20px;
  }
  .blog-details-area .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .blog-details-area .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .blog-details-area .comments-area .comment-respond .form-submit input {
    padding: 12px 25px 10px;
  }
  .blog-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .coming-soon-area .coming-soon-content {
    height: 100%;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
  }
  .coming-soon-area .coming-soon-content p {
    font-size: 13px;
    margin-top: 15px;
  }
  .coming-soon-area .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .coming-soon-area .coming-soon-content #timer div span {
    font-size: 14px;
    margin-top: -5px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    display: none;
  }
  .coming-soon-area .coming-soon-content .newsletter-form {
    margin-top: 35px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    height: 55px;
    padding-left: 13px;
    font-size: 15px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form button {
    position: relative;
    height: auto;
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .coming-soon-area .coming-soon-content {
    height: 100%;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
  }
  .coming-soon-area .coming-soon-content p {
    font-size: 13px;
    margin-top: 15px;
  }
  .coming-soon-area .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .coming-soon-area .coming-soon-content #timer div span {
    font-size: 14px;
    margin-top: -5px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    display: none;
  }
  .coming-soon-area .coming-soon-content .newsletter-form {
    margin-top: 35px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    height: 55px;
    padding-left: 13px;
    font-size: 15px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form button {
    position: relative;
    height: auto;
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .error-area {
    padding: 70px 0;
  }
  .error-area .error-contant-wrap p {
    margin: 15px 0 20px;
  }
  .include-img {
    margin-top: 30px;
  }
  .default-btn.mt-30 {
    margin-top: 0;
  }
  .customer-support-area.for-border {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 55px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 45px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    font-size: 65px;
    right: -49px;
  }
  .technology-icon-bg {
    width: 80px;
  }
  .technology-icon-bg i {
    font-size: 30px;
  }
  .frequently-content-wrap ul li {
    padding-left: 105px;
  }
  .frequently-content-wrap ul li i {
    position: absolute;
    width: 70px;
    height: 70px;
  }
  .single-client {
    margin-left: 0;
    margin-right: 0;
  }
  .user-area-all-style .contact-form-action .now-register {
    float: right;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pt-70 {
    padding-top: 40px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  h3 {
    font-size: 22px;
  }
  .others-option {
    display: none;
  }
  .section-title {
    margin: -6px auto 30px;
  }
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .default-btn {
    font-size: 15px;
    padding: 12px 25px;
  }
  .main-banner-area {
    height: 100%;
    padding-top: 145px;
    padding-bottom: 100px;
  }
  .main-banner-area .container-fluid {
    max-width: 720px;
  }
  .main-banner-area .banner-text {
    margin: auto;
    max-width: unset;
    text-align: center;
  }
  .main-banner-area .banner-text h1 {
    font-size: 45px;
    margin-bottom: 25px;
  }
  .main-banner-area .banner-text p {
    margin-bottom: 30px;
  }
  .main-banner-area .white-shape {
    display: none;
  }
  .main-banner-area.main-banner-area-one .banner-text {
    margin-top: 0;
  }
  .main-banner-area.main-banner-area-one .banner-img {
    display: block;
    margin-top: 120px;
    margin-bottom: 525px;
    top: 0;
    max-width: 655px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-area.main-banner-area-one .banner-main-img {
    display: none;
    margin-top: 30px;
  }
  .search-domain .domain-wrap .input-domain {
    height: 50px;
  }
  .search-domain .domain-wrap .select-domain-name {
    top: 5px !important;
  }
  .search-domain .domain-wrap .select-domain-name {
    top: 15px;
    border-radius: 50%;
    right: 110px;
  }
  .location-area {
    overflow: hidden;
  }
  .technology-area.mt {
    padding-top: 50px;
  }
  .single-technology {
    padding: 20px;
  }
  .customer-title h2 {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 20px;
  }
  .support-list {
    margin-bottom: 30px;
  }
  .support-img {
    text-align: center;
  }
  .solutions-wrap .solutions-title h2 {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 30px;
  }
  .solutions-img {
    margin-bottom: 30px;
    text-align: center;
  }
  .hosting-solution-area .shape-one {
    display: none;
  }
  .hosting-solution-area .shape-two {
    display: none;
  }
  .hosting-solution-wrap {
    margin: 0 auto -6px;
  }
  .hosting-solution-wrap h2 {
    font-size: 28px;
    margin-top: -6px;
  }
  .hosting-solution-wrap .default-btn {
    margin: 0 5px;
  }
  .single-pricing {
    padding: 20px;
  }
  .single-pricing::before {
    top: 0;
  }
  .single-pricing::before {
    width: 280px;
    height: 100%;
  }
  .server-img {
    margin-bottom: 30px;
    -webkit-animation: none;
            animation: none;
    text-align: center;
  }
  .server-content-wrap h2 {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 20px;
  }
  .server-content-wrap ul li span {
    font-size: 20px;
  }
  .map-img {
    max-width: 600px;
    margin: 0 auto 30px;
  }
  .frequently-img {
    margin-bottom: 30px;
    -webkit-animation: none;
            animation: none;
    text-align: center;
  }
  .single-client {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 15px 15px 15px;
    margin-bottom: 10px;
  }
  .single-blog .blog-content-wrap {
    padding: 20px;
  }
  .single-blog .blog-content-wrap ul li {
    padding-right: 8px;
  }
  .single-blog .blog-content-wrap ul li i {
    margin-right: 2px;
  }
  .single-widget h3 {
    margin-bottom: 15px;
    font-size: 22px;
    position: relative;
    border-bottom: 1px solid #0d1d46;
    padding-bottom: 8px;
  }
  .single-widget h3::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #ffffff;
  }
  .footer-bottom-area .copy-right {
    text-align: center;
    margin-bottom: 5px;
  }
  .footer-bottom-area .designed {
    margin-bottom: 5px;
    text-align: center;
  }
  .footer-bottom-area .privacy {
    float: unset;
    text-align: center;
  }
  .main-banner-area-two .banner-img {
    display: block;
    margin-top: 0;
    margin-bottom: 525px;
    top: 0;
  }
  .main-banner-area-two .banner-main-img {
    display: none;
    margin-top: 30px;
  }
  .main-banner-area-two .banner-img img:nth-child(1) {
    right: -50px;
  }
  .main-banner-area-two .banner-img img:nth-child(2) {
    top: 0;
    left: 0;
  }
  .main-banner-area-two .banner-img img:nth-child(4) {
    top: 250px;
    left: 390px;
  }
  .main-banner-area-two .banner-img img:nth-child(6) {
    top: -15px;
    right: 45px;
  }
  .search-domain-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .search-domain-area .search-text {
    margin-bottom: 30px;
    text-align: center;
  }
  .search-domain-area .search-text h2 {
    font-size: 28px;
  }
  .search-domain-area ul li {
    padding: 0 10px;
  }
  .support-img-two {
    text-align: center;
    margin-bottom: 30px;
  }
  .choose-area .choose-content-wrap h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #ffffff;
  }
  .choose-img {
    margin-top: 30px;
    text-align: center;
  }
  .protected-img {
    margin-top: 30px;
    text-align: center;
  }
  .services-area .single-technology {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  }
  .try-now-free {
    text-align: center;
  }
  .try-now-free h3 {
    margin-bottom: 30px;
  }
  .try-now-free .default-btn {
    float: unset;
  }
  .main-banner-area-three .banner-img .banner-main-img {
    margin: 120px auto 0;
  }
  .main-banner-area-three .banner-img .banner-main-img-shape {
    top: 35px;
  }
  .contact-img {
    margin-top: 30px;
    text-align: center;
  }
  .mtb-100 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .main-banner-area-four .banner-img {
    top: 0;
    margin: 20px auto 0;
    display: table;
  }
  .search-domain-area-four {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .search-domain-area-four ul li {
    padding: 0 10px;
  }
  .shared-hosting-img {
    margin-top: 30px;
  }
  .main-slider-area .main-slider-item {
    height: 100%;
  }
  .main-slider-area .banner-text {
    margin-top: 0 !important;
  }
  .main-slider-area .owl-item.active .banner-img {
    top: 0;
  }
  .page-title-area {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .page-title-area .page-title-content {
    text-align: center;
  }
  .page-title-area .page-title-content ul {
    float: unset;
  }
  .server-img.about-server-img {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .single-work {
    padding-left: 75px;
  }
  .single-work span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
  }
  .faq-accordion {
    margin-bottom: 30px;
  }
  .error-area .error-contact-wrap h1 {
    font-size: 200px;
  }
  .domain-price {
    margin: auto;
  }
  .domain-banner-area {
    padding-top: 115px;
    padding-bottom: 70px;
    height: 100%;
  }
  .domain-pricing-list h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .domain-pricing-list .domain-price th {
    font-size: 16px;
  }
  .domain-pricing-list .domain-price td {
    font-size: 16px;
  }
  .domain-pricing-list .domain-price .default-btn {
    font-size: 14px;
  }
  .include-img {
    margin-top: 30px;
  }
  .special-intro-offer-wrap .special-intro-offer-list ul li {
    text-align: left !important;
  }
  .special-intro-offer-wrap {
    margin-top: 50px;
  }
  .reseller-hosting-title {
    padding-bottom: 40px !important;
  }
  .page-navigation-area {
    margin: 0 auto 0;
  }
  .blog-details-desc.blog-left-grid {
    margin-top: 35px;
  }
  .blog-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .affiliate-img {
    margin-top: 30px;
  }
  .default-btn.mt-30 {
    margin-top: 0;
  }
  .customer-support-area.for-border {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 22px;
  }
  .wohust-nav-style .navbar-area .main-nav nav .navbar-nav .nav-item a {
    margin-right: 15px;
  }
  .main-banner-area {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 250px;
  }
  .main-banner-area .container-fluid {
    max-width: 960px;
  }
  .main-banner-area .banner-text {
    max-width: unset;
  }
  .main-banner-area.main-banner-area-one .banner-text {
    margin-top: 0;
  }
  .main-banner-area.main-banner-area-one .banner-img {
    top: 120px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(2) {
    top: -35px;
    width: 200px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(3) {
    width: 120px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(4) {
    top: -105px;
    width: 195px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(5) {
    top: 30px;
    right: -10px;
    width: 150px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(6) {
    top: 150px;
    right: 25px;
    width: 150px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(7) {
    top: 150px;
    left: 45px;
    width: 150px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(8) {
    top: 60px;
    left: -20px;
    width: 160px;
  }
  .single-technology {
    padding: 20px;
  }
  .single-pricing {
    padding: 20px;
  }
  .single-pricing::before {
    top: 10px;
  }
  .single-blog .blog-content-wrap {
    padding: 20px;
  }
  .single-blog .blog-content-wrap ul li {
    padding-right: 5px;
  }
  .single-blog .blog-content-wrap ul li i {
    margin-right: 2px;
  }
  .footer-bottom-area .copy-right p {
    font-size: 13px;
  }
  .footer-bottom-area .designed p {
    font-size: 13px;
  }
  .footer-bottom-area .privacy ul li a {
    font-size: 13px;
  }
  .go-top.active {
    top: 95%;
  }
  .main-banner-area-two {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .main-banner-area-two .banner-img {
    top: 80px;
  }
  .main-banner-area-two .banner-img img:nth-child(1) {
    top: 35px;
    width: 250px;
  }
  .main-banner-area-two .banner-img img:nth-child(2) {
    top: 0;
    left: -60px;
    width: 150px;
  }
  .main-banner-area-two .banner-img img:nth-child(3) {
    top: 150px;
    left: 15px;
    width: 150px;
  }
  .main-banner-area-two .banner-img img:nth-child(4) {
    top: 200px;
    left: 190px;
  }
  .main-banner-area-two .banner-img img:nth-child(5) {
    top: 145px;
    right: -10px;
    width: 120px;
  }
  .main-banner-area-two .banner-img img:nth-child(6) {
    top: -65px;
    right: -20px;
    width: 120px;
  }
  .search-domain-area ul li {
    padding: 0 5px;
  }
  .main-banner-area-three {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
  .main-banner-area-three .banner-text {
    margin-top: 0;
  }
  .main-banner-area-four {
    padding-bottom: 200px;
  }
  .single-hosting-service {
    padding-left: 30px;
  }
  .single-hosting-service i {
    position: unset;
    display: inline-block;
    margin-bottom: 12px;
  }
  .main-slider-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .main-slider-area .owl-item.active .banner-img {
    top: 115px;
  }
  .main-slider-area .banner-text {
    margin-top: 0 !important;
  }
  .single-work {
    padding-left: 75px;
  }
  .single-work span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
  }
  .domain-banner-area {
    padding-top: 150px;
    padding-bottom: 100px;
    height: 100%;
  }
  .domain-pricing-list .domain-price td {
    padding: 5px 17px;
  }
  .contact-info-area .single-contact-info {
    padding: 15px;
  }
  #map {
    height: 390px;
  }
}

@media only screen and (min-width: 1824px) {
  .main-banner-area {
    height: 100vh;
  }
  .main-banner-area-two .banner-img {
    top: -30px;
  }
  .main-banner-area-two .banner-img img:nth-child(2) {
    top: 0;
    left: 30px;
  }
  .main-banner-area-two .banner-img img:nth-child(3) {
    top: 250px;
    left: 235px;
  }
  .main-banner-area-two .banner-img img:nth-child(4) {
    top: 330px;
    left: 270px;
    right: 0;
    margin: auto;
  }
  .main-banner-area-two .banner-img img:nth-child(5) {
    right: 100px;
  }
  .main-banner-area-two .banner-img img:nth-child(6) {
    top: -60px;
    right: 170px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(2) {
    top: 0;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(3) {
    top: -60px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(4) {
    top: -60px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(5) {
    top: 50px;
    right: 80px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(6) {
    top: 315px;
    right: 200px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(7) {
    top: 240px;
    left: 125px;
  }
  .main-banner-area.main-banner-area-one .banner-img img:nth-child(8) {
    top: 70px;
    left: 100px;
  }
  .main-banner-area-one {
    height: 1080px;
  }
  .main-banner-area-one .banner-text {
    margin-top: -60px !important;
  }
  .main-banner-area-one .banner-img {
    top: -115px !important;
  }
  .main-banner-area-four .banner-text {
    margin-top: -80px;
  }
  .main-slider-area {
    height: 100vh !important;
  }
  .main-slider-area .owl-item.active .banner-img {
    top: 8px !important;
  }
  .main-slider-area .banner-text {
    margin-top: 25px !important;
  }
  .main-slider-area .owl-prev {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .main-slider-area .owl-next {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media only screen and (max-width: 991px) {
  .mobile-nav .logo {
    top: 12px;
  }
  .mean-container .mean-bar {
    background-color: #04063c;
    -webkit-box-shadow: 0 0 15px #ffffff;
            box-shadow: 0 0 15px #ffffff;
    padding: 0;
    height: 65px;
  }
  .mobile-nav.mean-container .mean-nav ul li a:hover {
    color: #00a7f5;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #00a7f5;
  }
  .mean-container a.meanmenu-reveal {
    padding: 22px 15px 0 0;
  }
  .mean-container .mean-nav {
    margin-top: 66px;
  }
}
/*# sourceMappingURL=responsive.css.map */