body{
	overflow: scroll !important;
}
.galeri {
    margin: 5px 0;
    padding: 3px 0;
    border-bottom: 1px dotted #ccc;
    height: 65px;
}
#recent-posts-2{
	margin-bottom: 10px;
}
#recent-posts-2 h2{
	    background: url(images/small_side_bg.png) repeat-y left #444;
    border-bottom: 3px solid;
    border-color: #ffae00;
    float: left;
    display: block;
    /* padding: 0px 25px 0px 41px; */
    padding:10px 0px 10px 10px;
    text-align: left;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    width: 95%;
        margin-bottom: 10px;
}
#recent-posts-kanan{
	margin-bottom: 10px;
}
#recent-posts-kanan h2{
	     background: url(images/side_head_bg.png) no-repeat left;
    float: left;
    display: block;
    padding: 3px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    color: #000;
    font-size: 17px;
    line-height: 40px;
    text-transform: uppercase;
    width:92%;
        margin-bottom: 10px;
}
.glossymenu {
	/*margin:15px 0 0 40px;*/
}
.glossymenu, .glossymenu li ul{
list-style-type: none;
background:url("images/small_side_bg.png") repeat-y left #444;
}

.glossymenu li{
position: relative;
}


.glossymenu li a { display: block; width: auto; padding: 2px 0; padding-left: 10px; text-decoration: none;}

.glossymenu ul li {
	background:#FFCC33;
	color:#333;
	padding-top:3px;
	padding-bottom:3px;
	left: 0;
	margin-top:0px;
	display:block;
	padding-right:10px;
	padding-left: 0;
}


.glossymenu ul li ul li {
	margin-left:0;
}

.glossymenu li ul li a {
	color: #fff !important;
}
.glossymenu li ul { position: absolute;
	left: 165px !Important;
	top: 0px;
	display: none;
	background: #3187bf;
	z-index: 99999999999;
}

.glossymenu li ul li:hover { 
	background: #12659a !important;
}

.glossymenu li ul li ul{
	    left: 200px !Important;
    border-left: 1px solid #fff;
}

.glossymenu li ul a{
width: 180px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
}




/* Holly Hack for IE \*/
* html .glossymenu li { float: left; height: 1%; }
* html .glossymenu li a { height: 1%; }
/* End */