@font-face {font-family: 'thin'; font-style: normal; font-weight: normal; src: local('thin '), local('thin'), url('fonts/thin.woff') format('woff')}
* { padding:0; margin:0; outline:none; border:none }
/*
body,html { padding:0; margin:0; font: 12px Tahoma, Arial, Helvetica, sans-serif; }
body {color: #333; background: #fff}
*/
h3 { font: 15px 'Roboto'; }
label {font-family:thin;min-width: 100px; clear: both; float: left; padding: 5px 20px 5px 0; text-align: left}
fieldset { padding : 10px 30px; }
legend { font:22px 'thin',Arial, Tahoma; padding: 0px 30px; margin-left: -30px; margin-right: -30px;padding-bottom: 10px; letter-spacing: -1px}
th{background-color: #AED3F2 !important;}
input[type=file]{border:none !important;border-radius:8px !important;}
input[type=checbox]{margin:0px !important}
input[type=radio]{margin:0px !important}

.clear {clear: both}
.iconic-bar {position: relative; padding-left: 15px; }
.iconic-nav {position: absolute; top: 12px; left: 22px; }
.gap { margin-top: 20px }
.select-large { width: 330px }

.footer { position: fixed; bottom: 0; left: 0; background-color: #efefef; border-top: 1px solid #ddd; padding: 10px 0; width: 100%; text-align: right; }
.footer span { padding: 0 20px; font-size: 90% }  

.content-left{float:left;width:70%}
.content-right{float:right;width:30%;min-height:100px;}

.tengah{text-align:center;}
.add-new{margin-bottom:20px;}

/*
.header { background: #fa7f05 url('../img/header_brand.jpg') no-repeat right; height: 80px; width: 100%; }
.logo  { background: url('../img/header_logo.jpg') no-repeat left; width: 530px; height: 80px; }
.title_small {font-size: 11px !important;}


.anggaran_box {position: relative}
.anggaran_box_content {margin-left: 400px; overflow: auto; overflow-y: hidden;}
.anggaran_title {width: 400px; position: absolute; top: 0; left: 0}
*/
.table-nonfluid {width: auto;}

/* Pagination Style */
.table-width{width:100%!important;}
.pagination{margin-top: 0!important;float: left!important;clear: both;}
#paginationfooter{height: 50px!important;padding: 0;}
#itemtot{float: right;}
#itemtot .kiri{float:left;width:30px;border:1px solid #AED3F2;border-top-left-radius:5px;border-bottom-left-radius:5px;padding:4px 12px;font-weight:bold;background:#AED3F2;text-align:center;}
#itemtot .kanan{float:right;width:20px;border:1px solid #AED3F2;border-top-right-radius:5px;border-bottom-right-radius:5px;padding:4px 12px;text-align:center;}
#plus-refresh{float:right;margin-top:0;margin-right:15px;margin-bottom:10px;}

#div-form{margin-top:10px;}
.div-input {margin-top: 10px;}

.container-fluid { padding: 0; height: 100%}
.heading {background:#1379cb url('../img/login_brand.jpg') no-repeat -100px bottom; height: 150px; position: relative; margin-bottom: 10px;}
.heading .logo_brand { width: 130px; height: 150px; margin: 0 auto; padding-top: 13px; }
.heading .title {background: #222; padding: 4px 10px; position: absolute; width: 90%; bottom: 0; right: 0; color: #fff; font: 18px 'Thin'; letter-spacing: -1px;text-align:center;}
.mainnav {padding-top: 0; width: 100%; display: block; position: relative}
.mainnav .divider { margin: 1px 0 0 0 }
.on-sidebar {margin: -6px 0 0 -30px; min-width: 180px; position: relative}
.dropdown-menu .logout { background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f); margin-top: 10px}
.dropdown-menu .logout a {color: #fff}
.dropdown .address {padding: 10px 5px; font-size: 11px; line-height: 12px; color: #666; text-align: center}
.content-right {margin: 0 !important}

.content-right legend {line-height: 60px}
.item-list{list-style:none}

.calender{border-collapse:collapse;padding:5px;}
.calender tr,td{padding:2px;}

span.error{margin-left:10px;background:#DFF0D8;border:1px solid #D6E9C6;color:#468847;padding:4px 6px;border-radius:7px;}
span.pesan{background:#DFF0D8;border:1px solid #D6E9C6;color:#468847;padding:4px 6px;border-radius:7px;}
.foto{border:5px solid #AED3F2;border-radius:8px;}

.alert-menu { border: 1px solid #E4EBF2; color: #333; background: #F5F8FA; text-shadow: 1px 1px 1px #fff}

.stat{padding:15px;}
.box-overflow{overflow:auto; overflow-y:hidden;}

/* calendar */
table.calendar		{ border-left:1px solid #999; }
tr.calendar-row	{ height: 20px }
tr.calendar-row td.minggu	{ background: #FAE3E3 }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#FF0000; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:100%; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ background:fff; padding:3px 5px 0px 5px; color:#111; font-weight:bold; margin: auto auto; font: 12px 'Roboto'; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np {border-bottom:1px solid #999; border-right:1px solid #999; padding: 0 !important }
.calendar_wrap {/*width: 4000px; height: 300px;*/}
.calender_box {width: 200px; height: 200px; margin-right: 20px; float: left; padding: 0 }
.calender-b {width:40px; position: relative; height: 25px;}
.hilite {width: 40px; height: 25px; position: absolute; top: 0; left: 0; opacity: 0.2 }
.box-legend {width: 30px; height: 20px}

/* Layout */
.box-layout h3 { padding:10px 0 5px 0; margin:15px 0 10px 0; border-bottom: 1px dotted #ccc; background: #f8f8f8 }